alembic==0.9.9
beautifulsoup4==4.7.1
certifi==2019.6.16
chardet==3.0.4
click==6.7
cx-Oracle==7.2.0
exception==0.1.0
Flask==1.0.2
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
idna==2.8
itsdangerous==0.24
Jinja2==2.10
lxml==4.6.2
Mako==1.0.7
MarkupSafe==1.0
multimethod==1.1
numpy==1.16.4
pandas==0.24.2
python-dateutil==2.7.3
python-docx==0.8.10
python-editor==1.0.3
pytz==2019.1
requests==2.22.0
six==1.11.0
soupsieve==1.9.2
SQLAlchemy==1.2.8
urllib3==1.25.3
Werkzeug==0.14.1
WTForms==2.2.1